@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mm1eq6');
  src:  url('../fonts/icomoon.eot?mm1eq6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mm1eq6') format('truetype'),
    url('../fonts/icomoon.woff?mm1eq6') format('woff'),
    url('../fonts/icomoon.svg?mm1eq6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-crosshairs:before {
  content: "\e903";
}
.icon-envelope:before {
  content: "\e904";
}
.icon-facebook-f:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-map-marker-alt:before {
  content: "\e907";
}
.icon-paper-plane:before {
  content: "\e908";
}
.icon-phone-volume:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
