@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list { overflow: hidden; }

/* Лента слайдов */
.slick-track { display: -webkit-box; display: -ms-flexbox; display: flex; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/* Сніпет
{
	"adaptive fonts": {
		"scope": "scss",
		"prefix": "adf",
		"body": [
			"@include adaptive-fonts ($1, $2);"
		]
	}
}
*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

ul { list-style: none; }

.container { max-width: 1440; width: 100%; margin: 0 auto; }

body { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #fff; }

strong { word-wrap: break-word; }

a { color: #fff; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 600; font-style: normal; line-height: normal; text-decoration: none; text-transform: uppercase; letter-spacing: .6px; }

.linkhover:hover { color: #ff6000; -webkit-transition: color .3s ease; -o-transition: color .3s ease; transition: color .3s ease; }

.bg { height: 100vh; width: 100%; background-image: url(/img/intro.jpg); background-position: top center; position: relative; background-size: cover; }

.btn { cursor: pointer; }

.btn:hover { background-color: #10100f; -webkit-transition: background-color .3s ease; -o-transition: background-color .3s ease; transition: background-color .3s ease; }

.inversbtn { cursor: pointer; }

.inversbtn:hover { color: #fff; background-color: #ff6000; -webkit-transition: background-color .3s ease; -o-transition: background-color .3s ease; transition: background-color .3s ease; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

/* HEADER */
@-webkit-keyframes fixedMenu { 0% { height: 0; }
  50% { height: 100px; }
  100% { height: 90px; } }
@keyframes fixedMenu { 0% { height: 0; }
  50% { height: 100px; }
  100% { height: 90px; } }

.header__inner { position: absolute; z-index: 2; -webkit-transition: top 1s; -o-transition: top 1s; transition: top 1s; top: 0; right: 0; left: 0; padding: 14px 16px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__logo { width: 437px; padding: 0px 15px; }

.header__menu { width: 665px; }

.header__menu-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header__menu-link { color: #fff; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 600; font-style: normal; line-height: normal; text-decoration: none; text-transform: uppercase; letter-spacing: .6px; }

.header__social { width: 437px; padding: 0px 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: right; }

.header__ico { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 138px; margin: 5px 0px 0px 39px; font-family: inherit; }

.header__ico-item { width: 42px; height: 42px; line-height: 42px; text-align: center; font-size: 14px; font-weight: 700; color: #949493; background-color: #10100f; border-radius: 50%; overflow: hidden; }

.header__ico-item:hover { background-color: #fff; -webkit-transition: color .3s ease,background-color .3s ease,border-color .3s ease; -o-transition: color .3s ease,background-color .3s ease,border-color .3s ease; transition: color .3s ease,background-color .3s ease,border-color .3s ease; }

.header__ico-item.icon-facebook-f:hover { color: #ff6000; }

.header__ico-item.icon-twitter:hover { color: #ff6000; }

.header__ico-item.icon-instagram:hover { color: #ff6000; }

.header__button { color: #fff; background-color: #ff6000; border-radius: 3px; padding: 15px 15px; margin: 8px 0px 8px 24px; }

.header__intro { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: 700px; }

.header__intro-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 620px; height: 290px; margin: auto; }

.header__intro-logo { width: 685px; height: 320px; margin-bottom: 30px; }

.header__intro-logo, .header__intro-button { margin-top: 58.5%; margin-left: 52px; }

.header__intro-button { position: relative; z-index: 10; width: 339px; height: 65px; color: #1f1f1d; background-color: #fff; font-size: 18px; font-weight: 700; text-align: center; line-height: 65px; letter-spacing: 2px; border-radius: 3px; margin: 11px 0px 8px -4px; }

.work { background-color: #1f1f1d; padding: 45px 20px; }

.work__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.work__adress { background-color: #878786; background-image: url(/img/work_left_bg.jpg); background-position: top left; background-repeat: no-repeat; background-size: cover; border-radius: 3px; }

.work__adress-block { display: block; }

.work__adress-item { position: relative; font-family: 'Montserrat', sans-serif !important; font-size: 16px; font-weight: 600; padding-left: 28px; margin-bottom: 5px; }

.work__adress-item::before { position: absolute; top: 0; left: 0; width: 1em; text-align: center; }

.work__adress-item a { font-size: 16px; text-transform: lowercase; }

.work__hours { background-color: #878786; background-image: url(/img/work_right_bg.jpg); background-position: top left; background-repeat: no-repeat; background-size: cover; border-radius: 3px; }

.work__hours-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 210px; }

.work__hours-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 16px; font-weight: 600; text-transform: uppercase; margin-bottom: 5px; }

.work__hours-item span { color: #999999; }

.work__adress-title, .work__hours-title { font-size: 48px; text-transform: uppercase; font-weight: 700; font-family: 'Oswald', sans-serif; margin-bottom: 30px; }

.fixed { position: fixed; top: 0; right: 0; left: 0; background-color: #2b2b28; -webkit-animation: fixedMenu 1s forwards; animation: fixedMenu 1s forwards; }

.worksize { width: 901.5px; height: 225px; padding: 2em 2%; }

.time { width: 100px; color: #ffffff !important; text-align: left; }
