@import 'slick_style.scss';
@import 'variable.scss';
*{
    box-sizing:border-box;
}
ul{
    list-style: none;
}
.container{
    max-width: $containerWidth;
    width: 100%;

    margin: 0 auto; 
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#fff;
    // background-color: transparent;
}
strong {
    word-wrap: break-word;
}
a {
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .6px;
}
.linkhover:hover {
    color:#ff6000;
    transition: color .3s ease;
}
.bg {
    height: 100vh;
    width: 100%;
    background-image: url(/img/intro.jpg);
    background-position: top center;
    // z-index: -10;
    // top: -90px;
    position: relative;
    background-size: cover;
}
.btn {
    cursor: pointer;

    &:hover {
        background-color: #10100f;
        transition: background-color .3s ease;
    }
}
.inversbtn {
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: #ff6000;
        transition: background-color .3s ease;
    }
}
.flex {
    display: flex;
}
/* HEADER */
@import 'header.scss';
@import 'work.scss';

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #2b2b28;
    animation: fixedMenu 1s forwards;
}
.worksize {
    width: 901.5px;
    height: 225px;
    padding: 2em 2%;
}
.time {
    width: 100px;
    color: #ffffff !important;
    text-align: left;
}